<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>New Product Color Form</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path, data: { no_turbolink: true } %>
      </li>
      <li>
        <%= link_to 'All product colors', product_colors_path, data: { no_turbolink: true } %>
      </li>
      <li class="active">
        <strong>New Product Color</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<%= render 'form' %>