<div class="row">
  <div class="col-md-6">
    <h4 class="">
      <span class="text-left">Total expense reports</span>
    </h4>
    <h5>

      <% year_id = '' %>
      <% month_id = '' %>
      <% month_id = @month.id if @month %>
      <% year_id = @year.name if @year %>

      <%= link_to monthly_and_yearly_report_download_total_expense_reports_path(:format => :xls, :year_id=> year_id, :month_id=> month_id), target: '_blank'  do %>
          <span class="label label-info"><i class="fa fa-download"></i> Download xls</span>
      <% end %>
      <%= link_to monthly_and_yearly_report_download_total_expense_reports_path(:format => :pdf, :year_id=> year_id, :month_id=> month_id), target: '_blank'  do %>
          <span class="label label-success"><i class="fa fa-download"></i> Download PDF</span>
      <% end %>
    </h5>
  </div>
  <div class="col-md-6 text-right">
    <h4>
      <span class="text-right">Month: <%= @month ? @month.name : 'All'  %> </span>
    </h4>
    <h4>
      <span class="text-right">Year: <%= @year ? @year.name : 'All'  %> </span>
    </h4>
  </div>
</div>