/*admin header css*/
.custom_menu_bar_on_header{
    list-style-type: none;
    margin-top: 17px;
    margin-right: 20px;
}
.custom_menu_bar_on_header li{
    float: left;
    padding-left: 6px;
    padding-right: 6px;
}


/*product items order left side bar admin*/
.product_category_list_li{
    border-top: 1px solid #D9E0E7;
}