<!-- begin page #content -->


<div class="row border-bottom white-bg dashboard-header">
  <!-- begin col-6 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-3">
      <div class="panel-heading">
        <h3 class="">Food category edit page</h3>
      </div>
      <div class="panel-body">
        <!-- form render start -->
        <%= render 'food_categories/form' %>
        <!-- form render end -->
      </div>
    </div>
    <!-- end panel -->
  </div>
</div>
<!-- end row -->

<!-- end page #content -->


<script>
    $(document).ready(function() {
        App.init();
        FormSliderSwitcher.init();
    });
</script>